* {
  box-sizing: border-box;
}
.row-header {
  background-color: #313233;
}
.row-header .nav-1 {
  color: white;
}
.row-header .nav-2 {
  color: gray;
}
.carousel-img {
  height: 900px;
  margin-bottom: 2.5%;
}
.carousel-img .img-cor {
  height: 900px;
}
.slider-tittle {
  top: 5%	;
}
.slider-tittle h5 {
  font-size: 260%;
  color: white;
  margin-bottom: 2.5%;
}
.slider-tittle p {
  font-size: 200%;
  margin-bottom: 1.5%;
}
.slider-tittle button {
  width: 20%;
  height: 60px;
  background-color: #313233;
  border: none;
  border-radius: 10px;
}
.slider-tittle button:hover {
  width: 20%;
  height: 60px;
  background-color: #292a2b;
  transition-duration: 0.5s;
  border: none;
  border-radius: 10px;
}
.number {
  width: 80%;
  height: 40px;
  padding: 5px 10px;
}
.service {
  font-size: 300%;
  font-weight: 400;
}
footer {
  background-color: #313233;
  height: 100px;
}
@media (max-width: 630px) {
  .phone {
    margin-top: -5%;
  }
  .carousel-img {
    height: 600px;
    margin-bottom: 2.5%;
  }
  .carousel-img .img-cor {
    height: 600px;
  }
  .slider-tittle {
    top: 20%;
  }
  .slider-tittle h5 {
    margin-bottom: 5%;
  }
  .slider-tittle p {
    display: none;
  }
  .slider-tittle button {
    width: 50%;
  }
}
@media (min-width: 630px) and (max-width: 720px) {
  .phone {
    margin-top: -3.5%;
  }
}
@media (min-width: 630px) and (max-width: 815px) {
  .carousel-img {
    height: 600px;
    margin-bottom: 2.5%;
  }
  .carousel-img .img-cor {
    height: 600px;
  }
  .slider-tittle {
    top: 20%;
  }
  .slider-tittle h5 {
    margin-bottom: 5%;
  }
  .slider-tittle p {
    display: none;
  }
  .slider-tittle button {
    width: 40%;
  }
}
@media (min-width: 721px) and (max-width: 990px) {
  .phone {
    margin-top: -2.5%;
  }
}
